name: Build Docker Image for Download

on:
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          load: true
          tags: m3u-strm-processor:latest

      - name: Save image
        run: |
          docker save m3u-strm-processor:latest -o m3u-strm-processor.tar

      - uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: m3u-strm-processor.tar
